{% extends './plantilla.html' %}
{% block contenido %}
<br>
<h1 class="text-center">Listado de Cargos</h1>
<hr>

<div class="row">
    <div class="text-end">
        <a href="nuevoCargo" class="btn btn-info text-right">
            Agregar Cargo
        </a>
    </div>
</div>
<br>
<table  class="table table-bordered 
     table-striped table-hover" id="tbl_cargos">
    <thead>
        <tr class="bg-primary">
            <th>ID</th>
            <th>NOMBRE</th>            
            <th>FUNCIONES</th>
            <th>HORARIO</th>
            <th>REQUISITOS</th>
            <th>SUELDO</th>
            <th>LOGO</th>
            <th>CURRICULUM</th>
            <th>ACCIONES</th>
        </tr>
    </thead>
    <tbody>
        {% for cargoTemporal in cargos %}
            <tr>
                <td>{{cargoTemporal.id}}</td>
                <td>{{cargoTemporal.nombre}}</td>    
                <td>{{cargoTemporal.funciones}}</td>
                <td>{{cargoTemporal.horario}}</td>
                <td>{{cargoTemporal.requisitos}}</td>
                <td>{{cargoTemporal.sueldo}}</td>
                <td>
                    {% if cargoTemporal.logo %}
                        <img src="{{cargoTemporal.logo.url}}" alt="Imagen" width="100px" height="100px">
                        <br><br>
                        <a href="{{cargoTemporal.logo.url}}" download class="btn btn-sm btn-outline-secondary mt-1">Descargar</a>

                    {% else %}
                        Ninguna
                    {% endif %}
                </td>
                <td>
                    {% if cargoTemporal.archivo %}
                        <a href="{{ cargoTemporal.archivo.url }}" target="_blank" class="btn btn-sm btn-success">
                            Ver PDF
                        </a><br><br>
                        <a href="{{ cargoTemporal.archivo.url }}" download class="btn btn-sm btn-outline-secondary mt-1">Descargar</a>
                    {% else %}
                        Ninguno
                    {% endif %}
                </td>
                <td>
                    <a href="editarCargo/{{cargoTemporal.id}}" class="btn btn-outline-warning">
                        <i class="fa fa-pen"></i>
                    </a>
                    <a href="#" 
                        data-id="{{cargoTemporal.id}}" 
                        class="btn btn-outline-danger btnEliminar">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const botonesEliminar = document.querySelectorAll('.btnEliminar');

        botonesEliminar.forEach(boton => {
            boton.addEventListener('click', function (e) {
                e.preventDefault();
                const id = this.getAttribute('data-id');

                Swal.fire({
                    title: "¿Estás seguro?",
                    text: "¡No podrás revertir esto!",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Sí, eliminar",
                    cancelButtonText: "Cancelar"
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = `/eliminarCargo/${id}`;
                    }
                });
            });
        });
    });
</script>

<script>
  const table = new DataTable('#tbl_cargos', {
    layout: {
      topStart: {
        buttons: ['copy', 'csv', 'excel', 'pdf', 'print']
      }
    }
  });
</script>


<br><br><br><br><br><br>
{% endblock %}